/* Styles for the register container */
.register-container {
  background-color: aliceblue;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-container h1 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 20px;
}

.register-content {
  background-color: #f3e6e6;
  width: 400px;
  height: fit-content;
  border-radius: 10px;
  padding: 30px;
  text-align: center; /* center the labels */
}

.register-field {
  margin-bottom: 20px;
  text-align: left; /* align the input fields to the left */
}

.register-field label {
  margin-bottom: 5px;
  font-weight: bold;
  text-align: right; /* align the label text to the right */
  width: 100px; /* set a fixed width for the label */
}

.register-field label input[type="radio"] {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.register-field input {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  display: block;
  width: 50%;
  margin: auto; /* center the button horizontally */
  margin-top: 20px;
  padding: 10px;
  border: none;
  background-color: #4caf50;
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
}


button[type="submit"]:hover {
  background-color: #3f19e9;
}

.already-have-account{
  margin-top: 10px;
}
/* Media queries for responsive design */

/* For screens up to 600px wide */
@media screen and (max-width: 600px) {
  .register-content {
    width: 90%;
    max-width: 400px;
  }

  .register-field label {
    width: auto;
  }

  button[type="submit"] {
    width: 100%;
  }
}

/* For screens up to 1000px wide */
@media screen and (max-width: 1000px) {
  .register-container {
    padding: 10px;
    max-width: 1000px;
  }

  .register-container h1 {
    font-size: 24px;
  }
}
